.App {
  text-align: center;
}

div.tags {
  margin: 5px 20px 5px 20px;
}

.nametag {
  height: 8cm;
  width: 12cm;
  margin: 5px 2px 5px 2px;
}

.front {
  display:inline-block;
  width: 6cm;
  height: 8cm;
  float:left;
}

.back {
  display:inline-block;
  width: 6cm;
  height: 8cm;
}

.settings {
  margin: 10px 10px 20px 10px;
}

li span {
  position: relative;
  left: 10px;
}

ul.events {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    list-style-type: none;
    font-size: 18px;
}

.logo {
  width: 4cm;
}

@page {
  size: A4;
  margin: 30px 10px 10px 10px;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  div.nametag {
    page-break-inside: avoid;
  }
}